<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	<h2><span class="glyphicon glyphicon-log-in"></span>&nbsp; Sign in</h2>
            </div>
            <div class="panel-body in" id="panel-looking-info">
	            <form class="form" name="newIncidentForm" novalidate>
								 Username<br/>
								<input type="text" 
									name="schedulerID" 
									ng-model="incident.schedulerID" 
									class="form-control"
									ng-change='findName(incident.schedulerID)'
								required>
								Password <br/>
								<input type="text" 
									name="schedulerID" 
									ng-model="incident.schedulerID" 
									class="form-control"
									ng-change='findName(incident.schedulerID)'
								required>
								<br/>

								<button class="btn btn-lg btn-custom-lighten" type="submit" ng-click="parseText(textToParse)">Sign in
								</button>
							</form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float:left;">

</div>
</div> 