<div class="modal-header">
	<h1 class="modal-title">
	<span class="glyphicon glyphicon-log-in"></span>
		Sign in
	</h1>
</div>

<form name="form" ng-submit="ok()">
	<div class="modal-body">

	    	<h4><label for="username">Username</label></h4>
	      <input class="form-control" type="text" name="username" ng-model="username">
	      <br>
	      <h4><label for="password">Password</label></h4>
	      <input class="form-control" 
	      	type="password" 
	      	name="password" 
	      	ng-model="password">
	</div>

	<div class="modal-footer">
		    <button type="submit" class="btn btn-primary pull-left btn-lg" ng-click="ok()">Sign in</button>
	</div>
</form>