<!DOCTYPE html>

<html lang="en" ng-app='app'>

<head>
	<title>UI Bootstrap Test</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="uib-test.css" rel="stylesheet" media="screen">
	<script src="js/angular.js"></script>
	<script src="js/ui-bootstrap.js"></script>
	<script src="uib-test.js"> </script>
</head>

<body>

<div ng-controller="ModalCtrl">

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

</body>
</html>


	